extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Product:
      input#name.form-control(type='text', placeholder='Name of product' name='name' required='true' value=(undefined===product ? '' : product.name) )
    div.form-group 
      label(for='price') Price:
      input#price.form-control(type='number', placeholder='$$$' name='price' required='true' value=(undefined===product ? '' : product.price) )
    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', placeholder='Description' name='description' rows='3' required='true') #{undefined===product ? '' : product.description}
    div.form-group
      label(for='brand') Brand:
      select#brand.form-control(type='select', placeholder='Select brand' name='brand' required='true' )
        - brands.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for brand in brands
          if product
            option(value=brand._id selected=(brand._id.toString()==product.brand ? 'selected' : false) ) #{brand.name}
          else
            option(value=brand._id) #{brand.name}
    div.form-group
      label(for='category') Category:
      select#category.form-control(type='select', placeholder='Select category' name='category' required='true' )
        - categories.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for category in categories
          if product
            option(value=category._id selected=(category._id.toString()==product.category ? 'selected' : false) ) #{category.name}
          else
            option(value=category._id) #{category.name}
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg